<form action="/prehistoric_creatures" method="POST">
    
    <label for="creaturesType">Type</label>
    <input type="text" id="creaturesType" name="type">

    <label for="imgUrl">Image URL</label>
    <input type="url" id="imgUrl" name="img_url">
    <input type="submit" value="add a creature">
 
</form>