<form action="/dinosaurs" method="POST">
    
    <label for="dinosaursName">Name</label>
    <input type="text" id="dinosaursName" name="name">

    <label for="dinosaursType">Type</label>
    <input type="text" id="dinosaursType" name="type">

    <input type="submit" value="add a dino">
</form>